@media screen and (max-width: 575px) {
	section {
		max-width: 1920px;
		margin: 0 auto $section-margin_lg;

		&:last:last-of-type {
			margin-bottom: 56px;
		}

		&:nth-child(odd) {
			.template-title {
				&::after {
					background-color: $color-primary;
				}
			}
		}

		&.container-fluid {
			position: relative;
			padding: 54px 0 60px;

			&:before {
				content: "";
				position: absolute;
				height: 100%;
				top: 0;
				left: 0;
				right: 0;
				background-color: $bg-secondary;
				border-radius: 0;
				z-index: -1;
			}
		}
	}



	.btn-lg {
		width: 100%;


		.icon {
			margin: 0 -14px 0 auto;

		}
	}



	.dilivery {


		.slider-template__btn-row {
			padding: 0 15px;

			.btn {
				white-space: nowrap;
				width: 138px;
			}
		}

		.slider-template__img-box {
			margin-bottom: 42px;
		}

	}


	.slider-template {
		max-width: 337px;

		.slick-slide {
			padding: 0 0 27px;

			&:after {
				left: 0;
				right: 0;
			}
		}

		.slick-dots {
			margin-top: 33px;
		}
	}

}