@media screen and (max-width: 1570px) {
	.first-screen {
		.slick-arrow {
			background-position: 20px;
		}
	}

	.calculation {
		.container {
			&:after {
				right: 0;
			}
		}
	}
}

@media screen and (max-width: 1199px) {

	.template-title {
		h3 {
			font-size: 16px;
		}
	}

	// section partnership_section ------

	.partnership_section {


		.partnership_section-left {
			.partnership-img_fancyboxs {
				margin-bottom: 36px;
			}
		}


		.partnership_section-right,
		.partnership_section-left {
			width: 100%;
			flex-direction: column;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			margin: 0 auto;

		}

		.partnership_section-right {
			button {
				display: flex;
				text-align: center;


			}

			.col-md-6 {
				margin-right: 0;
			}

			.partnership-content {
				p {
					padding: 25px 0 0;
				}
			}
		}

		.partnership_section-left {
			display: flex;
			flex-direction: column-reverse;
			margin: 39px 0 17px;

			.col-md-6 {
				margin-right: 0;
			}

			.partnership-content {
				p {
					padding: 0 0px 14px;
					word-spacing: -0.4px;
					line-height: 138.5%;
				}
			}



		}

		.partnership-content {
			max-width: 528px;

			p {
				font-weight: 300;
				font-size: 17px;
				line-height: 155.5%;
			}
		}



		.partnership-img_fancyboxs {
			max-width: 555px;
			width: 100%;
			height: auto;
			border-radius: 20px;
		}

	}



	about-company
	.about_company {
		.about_company-img_box {	
			margin-top: -146px;
		}
	}


}


@media screen and (max-width: 1400px) {
	.slider-template {
		margin: 0 auto;
		max-width: 780px;

		.slick-arrow {
			&.slick-next {
				right: -80px;
			}

			&.slick-prev {
				left: -80px;
			}
		}
	}
}