.about_company {

	.about_company-content {
		p {
			font-weight: 300;
			font-size: 18px;
			line-height: 170%;
			margin-bottom: 20px;
		}
	}

	.about_company-img_box {
		position: relative;
		margin-top: -166px;
		max-width: 550px;

		img {
			// position: absolute;
			// top: -177px;
			// left: 10px;
			width: 100%;
		}
	}
}