.gallery-section {
	padding: 20px 0 50px;
	width: 100%;

	.gallery {
		display: flex;
		flex-wrap: wrap-reverse;

	}

	.image {
		flex: 25%;
		overflow: hidden;
		cursor: pointer;
	}

	.fancybox {
		width: 100%;
		height: 100%;
		transition: 0.4s;

		&:hover {
			transform: scale(1.4) rotate(15deg);
		}
	}

	@media screen and (max-width:960px) {
		.image {
			flex: 33.33%;
		}
	}

	@media screen and (max-width:768px) {
		.image {
			flex: 50%;
		}
	}

	@media screen and (max-width:480px) {
		.image {
			flex: 100%;
		}
	}

}

.fancy-title{
	margin-top: 50px;
font-size: 50px;
text-align: center;
}

.git{
	position: fixed;
	left: 10px;
	bottom: 100px;
	display: inline-block;
	padding: 15px 40px;
	background-color: aqua;
	border-radius: 15px;
	text-decoration: none;

}