.first-screen {
	position: relative;

	&__subtitle {
		font-weight: 300;
		font-size: 20px;
		line-height: 135.5%;
		margin-bottom: 36px;
		max-width: 340px;
	}

	&__title {
		font-weight: 700;
		font-size: 56px;
		line-height: 126%;
		text-transform: uppercase;
		margin-bottom: 8px;
		max-width: 500px;
	}

	.slick-list {
		border-radius: 20px;
		margin: 0 -10px;
	}

	.slick-slide {
		margin: 0 10px;
		padding: 165px 0 228px;
		border-radius: 20px;
		background-position: center;
		background-size: cover;
	}

	.slick-dots {
		position: absolute;
		left: 50%;
		transform: translate(-50%, 0);
		top: calc(100% - 49px);
		display: flex;
		padding: 0;
		margin: 0;

		>li {
			list-style: none;
			margin: 0 13px;
			font-size: 0;

			&.slick-active {
				button {
					background-color: #FFFFFF;

				}

			}

		}

		button {
			font-size: 0;
			padding: 0;
			border-radius: 50%;
			width: 8px;
			height: 8px;
			opacity: 0.9;
			border: 2px solid #FFFFFF;
			background-color: transparent;
			outline: none;
		}
	}

	.container-arrows {
		position: absolute;
		max-width: 1523px;
		width: 100%;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-24px);
	
		display: flex;
		justify-content: space-between;
		height: 0;
	}
	.slick-prev {
		transform: rotate(-180deg)
	}
	.slick-arrow {
		font-size: 0;
		width: 46px;
		height: 46px;
		transition: .4s;
		background-color: transparent;
		border: none;
		background-position: center;
		background-repeat: no-repeat;
		background-image: url("data:image/svg+xml,%3Csvg width='24' height='42' viewBox='0 0 24 42' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.40237 41.2538C3.1171 41.5391 2.76051 41.6817 2.36827 41.6817C1.97602 41.6817 1.61943 41.5391 1.33416 41.2538C0.763614 40.6833 0.763614 39.7561 1.33416 39.1856L19.5202 20.9996L1.33416 2.81351C0.763614 2.24296 0.763614 1.31583 1.33416 0.74529C1.9047 0.174747 2.83183 0.174747 3.40237 0.74529L22.6225 19.9654C23.1931 20.536 23.1931 21.4631 22.6225 22.0337L3.40237 41.2538Z' fill='white'/%3E%3C/svg%3E");

		&:hover {
			background-image: url("data:image/svg+xml,%3Csvg width='23' height='42' viewBox='0 0 23 42' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.49612 40.9364C2.21085 41.2217 1.85426 41.3643 1.46202 41.3643C1.06977 41.3643 0.713178 41.2217 0.427907 40.9364C-0.142636 40.3659 -0.142636 39.4388 0.427907 38.8682L18.614 20.6822L0.427907 2.49612C-0.142636 1.92558 -0.142636 0.99845 0.427907 0.427907C0.99845 -0.142636 1.92558 -0.142636 2.49612 0.427907L21.7163 19.6481C22.2868 20.2186 22.2868 21.1457 21.7163 21.7163L2.49612 40.9364V40.9364Z' fill='%2389C249'/%3E%3C/svg%3E ");
		}

		
	}
	}