.partnership_section {

	.partnership_section-right,
	.partnership_section-left {
		display: flex;

	}

	.partnership_section-right {
		button{
			margin-top: 48px;
		}
		.col-md-6 {
			margin-right: 30px;
		}

		.partnership-content {
			p {
				padding: 25px 0 0;
			}
		}
	}

	.partnership_section-left {
		margin: 39px 0 17px;

		.col-md-6 {
			margin-right: 17px;
		}

		.partnership-content {
			p {
				padding: 0 0 30px;
			}
		}



	}

	.partnership-content {
		max-width: 528px;
		p {
			font-weight: 300;
			font-size: 17px;
			line-height: 155.5%;
		}
	}



	.partnership-img_fancyboxs {
		max-width: 555px;
		width: 100%;
		height: auto;
		border-radius: 20px;
	}

}