<h5 class="fancy-title">Fancybox[gallery]</h5>

<div class="gallery-section">
	<div class="gallery">
		<a class="image" href="assets/img/slide1.png" data-fancybox="gallery">
			<img class="fancybox" src="assets/img/slide1.png" />
		</a>


		<a class="image" href="assets/img/slide2.png" data-fancybox="gallery">
			<img class="fancybox" src="assets/img/slide2.png" />
		</a>
		<a class="image" href="assets/img/slide3.png" data-fancybox="gallery">
			<img class="fancybox" src="assets/img/slide3.png" />
		</a>
		<a class="image"
			href="https://img.freepik.com/free-photo/product-backdrop-cinematic-smoke-realistic-design_53876-128288.jpg?size=626&ext=jpg&uid=R11835052&ga=GA1.2.1584827462.1675190046"
			data-fancybox="gallery">
			<img class="fancybox"
				src="https://img.freepik.com/free-photo/product-backdrop-cinematic-smoke-realistic-design_53876-128288.jpg?w=900&t=st=1683738181~exp=1683738781~hmac=4176e905a53ee252cbba9908b6cfea8d32f396936f12befaf663010ca729b57a" />
		</a>
		<a class="image"
			href="https://img.freepik.com/free-photo/pretty-smiling-joyfully-female-with-fair-hair-dressed-casually-looking-with-satisfaction_176420-15187.jpg?size=626&ext=jpg&uid=R11835052&ga=GA1.2.1584827462.1675190046"
			data-fancybox="gallery">
			<img class="fancybox"
				src="https://img.freepik.com/free-photo/pretty-smiling-joyfully-female-with-fair-hair-dressed-casually-looking-with-satisfaction_176420-15187.jpg?w=900&t=st=1683738517~exp=1683739117~hmac=e76a514f6d8d5c6ab8f05c96f38655fef006156fab79afa1e3641a493c496878" />
		</a>
		<a class="image"
			href="https://img.freepik.com/free-photo/flag-of-ukraine-with-coat-of-arms_1401-250.jpg?size=626&ext=jpg&uid=R11835052&ga=GA1.2.1584827462.1675190046"
			data-fancybox="gallery">
			<img class="fancybox"
				src="https://img.freepik.com/free-photo/flag-of-ukraine-with-coat-of-arms_1401-250.jpg?w=900&t=st=1683738602~exp=1683739202~hmac=827258f1bed62966ae9951fff7fedb3dcb83a9a8f48911d0e0f4c055819fd7b1" />
		</a>
	</div>
	
</div>



