<section class="first-screen container-xxl">
	<div class="first-screen-slider">

		<div style="background-image: url(assets/img/first-screen1.png);">
			<div class="container">
				<div class="first-screen__title">Прямое КАРГО из Китая</div>
				<div class="first-screen__subtitle">Доставляем любые грузы из Китая по честной цене</div>

				<button type="button" class="btn btn-primary btn-lg">Рассчитать стоимость<img
						src="assets/img/btn-arrow-left.svg" class="icon" alt="icon"></button>
			</div>
		</div>


	

		<div style="background-image: url(assets/img/first-screen2.jpg);">
			<div class="container">
				<div class="first-screen__title">Прямое КАРГО из Китая</div>
				<div class="first-screen__subtitle">Доставляем любые грузы из Китая по честной цене</div>

				<button type="button" class="btn btn-primary btn-lg">Рассчитать стоимость<img
						src="assets/img/btn-arrow-left.svg" class="icon" alt="icon"></button>
			</div>
		</div>



		<div style="background-image: url(assets/img/first-screen3.png);">
			<div class="container">
				<div class="first-screen__title">Прямое КАРГО из Китая</div>
				<div class="first-screen__subtitle">Доставляем любые грузы из Китая по честной цене</div>

				<button type="button" class="btn btn-primary btn-lg">Рассчитать стоимость<img
						src="assets/img/btn-arrow-left.svg" class="icon" alt="icon"></button>
			</div>
		</div>



		<div style="background-image: url(assets/img/first-screen4.png);">
			<div class="container">
				<div class="first-screen__title">Прямое КАРГО из Китая</div>
				<div class="first-screen__subtitle">Доставляем любые грузы из Китая по честной цене</div>

				<button type="button" class="btn btn-primary btn-lg">Рассчитать стоимость<img
						src="assets/img/btn-arrow-left.svg" class="icon" alt="icon"></button>
			</div>
		</div>

	</div>
	<div class="container-arrows"></div>
</section>