<footer>
	<div class="container">
		<div class="footer-wrapper">
			<div class="col-md-3">
				<picture>
					<img src="assets/img/logo.svg" alt="logo">
				</picture>

				<div class="footer_addres">

					<ul>
						<li><a href="#">8(800)600-18-69</a></li>
						<li><a class="footer-email" href="">info@cargoasia.info</a></li>
						<p>Адрес в Китае:</p>
						<li><a href="">浙江省金华市义乌市后宅街道洪华小区5 栋一单元一楼RT789库房 高建军 电话15966660379</a></li>
					</ul>
				</div>

				<div class="footer_social">
					<img src="assets/img/instagram.svg" alt="">
					<img src="assets/img/vkontakte.svg" alt="">
					<img src="assets/img/telegram.svg" alt="">
				</div>
			</div>

			<div class="col-md-3">
				<div class="footer-link left">
					<h5>Грузоперевозки</h5>
					<div class="footer-wrapper_link">
						<a href="#">Цены и сроки</a>
						<a href="#">Услуги</a>
						<a href="#">О компании</a>
						<a href="#">Контакты</a>
						<a href="#">Оформить груз</a>
					</div>

				</div>


			</div>
			<div class="col-md-3">
				<div class="footer-link middle">
					<h5>Услуги</h5>
					<div class="footer-wrapper_link">
						<a href="#">Выкуп товара</a>
						<a href="#">Страховка груза</a>
						<a href="#">Аренда склада</a>
						<a href="#">Перевод денежных средств</a>
					</div>

				</div>


			</div>
			<div class="col-md-3">
				<div class="footer-link right">
					<h5>Информация</h5>
					<div class="footer-wrapper_link">
						<a href="#">Отзывы</a>
						<a href="#">Требования к грузу</a>
						<a href="#">Договор-оферта</a>
						<a href="#">Как заключить договор</a>
						<a href="#">Способы оплаты услуг</a>
						<a href="#">Документы</a>
						<a href="#">Статьи</a>
					</div>

				</div>
			</div>


		</div>

</footer>

<script src="assets/js/jquery-3.6.4.min.js"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js"></script> -->
<script src="assets/js/fancybox.min.js"></script>
<script src="assets/js/slick.min.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/custom.js"></script>
</body>

</html>