<section class="services container-fluid">
	<div class="container">
		<div class="template-title">
			<h2>Варианты доставки грузов из Китая</h2>
		</div>
		<div class="slider-template">
			<div>
				<div class="slider-template__img-box">
					<img src="assets/img/dilivery-1.png" class="img-fluid" alt="dilivery">
				</div>
				<h4 class="slider-template__title">Авто - обычна</h4>
				<div class="slider-template__description">Компания - это полный комплекс логистических услуг по доставке
					грузов из Китая в Украину - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО
					Китай-Украина. </div>

				<div class="slider-template__btn-row">
					<button type="button" class="btn btn-secondary">Secondary</button>
				</div>
			</div>
			<div>
				<div class="slider-template__img-box">
					<img src="assets/img/dilivery-2.png" class="img-fluid" alt="dilivery">
				</div>
				<h4 class="slider-template__title">Авто - обычна</h4>
				<div class="slider-template__description">Компания - это полный комплекс логистических услуг по доставке
					грузов из Китая в Украину - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО
					Китай-Украина. </div>

				<div class="slider-template__btn-row">
					<button type="button" class="btn btn-secondary">Secondary</button>
				</div>
			</div>
			<div>
				<div class="slider-template__img-box">
					<img src="assets/img/dilivery-3.png" class="img-fluid" alt="dilivery">
				</div>
				<h4 class="slider-template__title">Авто - обычна</h4>
				<div class="slider-template__description">Компания - это полный комплекс логистических услуг по доставке
					грузов из Китая в Украину - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО
					Китай-Украина. </div>

				<div class="slider-template__btn-row">
					<button type="button" class="btn btn-secondary">Secondary</button>
				</div>
			</div>
			<div>
				<div class="slider-template__img-box">
					<img src="assets/img/dilivery-4.png" class="img-fluid" alt="dilivery">
				</div>
				<h4 class="slider-template__title">Авто - обычна</h4>
				<div class="slider-template__description">Компания - это полный комплекс логистических услуг по доставке
					грузов из Китая в Украину - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО
					Китай-Украина. </div>

				<div class="slider-template__btn-row">
					<button type="button" class="btn btn-secondary">Secondary</button>
				</div>
			</div>
			<div>
				<div class="slider-template__img-box">
					<img src="assets/img/dilivery-5.png" class="img-fluid" alt="dilivery">
				</div>
				<h4 class="slider-template__title">Авто - обычна</h4>
				<div class="slider-template__description">Компания - это полный комплекс логистических услуг по доставке
					грузов из Китая в Украину - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО
					Китай-Украина. </div>

				<div class="slider-template__btn-row">
					<button type="button" class="btn btn-secondary">Secondary</button>
				</div>
			</div>
		</div>
	</div>
</section>